* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: OpenSans-r;
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: OpenSans-b;
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #0f0d0e;
}

body {
    font-family: OpenSans-r, sans-serif;
    font-size: 16px;
    margin: 0;
    line-height: 1.2;
}


/*HEADER*/

.header-wrapper {
    max-width: 1200px;
    margin: auto;
}

.header {
    padding-top: 26px;
    padding-bottom: 130px;
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;
    z-index: 0;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

.menu,
.logo-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    padding-left: 15px;
}

.header__logo__menu__burger {
    width: 50px;
    height: 50px;
    display: none;
    margin: 0 15px;
    align-items: flex-end;
}

.logo__image {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.header-menu {
    margin: 0;
    box-sizing: border-box;
}

.menu-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-list-item:nth-child(n + 2) {
    margin-left: 40px;
}

.menu-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
}

.menu-link:hover {
    text-decoration: underline;
    text-align: center;
}

.welcome-title {
    font-family: OpenSans-b, sans-serif;
    font-size: 45px;
    line-height: 1.6;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    max-width: 700px;
    margin: 113px auto 0;
}

/*TRENDS*/

.trends {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 320px;
    width: 100%;

}

.trends__header {

    text-align: center;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 35px;

}

.trends__header::after {
    content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    width: 66px;
    height: 3px;
    background: #b59f5b;
}


.trend {
    width: calc((100% / 4) - 12px);
    height: 320px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    position: relative;
    flex-grow: 1;

}

.trend::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
}

.img_1 {
    background-image: url(../images/trend1.jpg);
    margin-right: 4px;
}

.img_2 {
    background-image: url(../images/trend2.jpg);
    margin-right: 4px;
}

.img_3 {
    background-image: url(../images/trend3.jpg);
    margin-right: 4px;
}

.img_4 {
    background-image: url(../images/trend4.jpg);
    margin-right: 4px;
}

.trend__content {

    margin: 0 20px 20px 20px;
    padding: 38px 44px 30px 22px;
    border: 4px solid rgba(181, 159, 91, 0.5);
    z-index: 1;
    font-family: OpenSans-b, sans-serif;
    font-size: 20px;

}

.tags__items {
    display: flex;
    list-style: none;
}

.tag__item {

    font-weight: 700;
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.tag__link {
    text-decoration: none;
    color: #b59f5b;
}

.tag__link:hover {
    text-decoration: underline;
    text-align: center;
    color: #b59f5b;
}


.title__trend__link {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    margin: auto;
}

.title__trend__link:hover {
    color: #b59f5b;
}


/*MAIN*/

.page {
    margin-top: 60px;
}

.page-wrapper {
    max-width: 1220px;
    margin: auto;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: auto;
    width: 778px;
}

.news:nth-child(n + 2) {
    margin-top: 60px;
}

.news-img,
.new-img {
    display: block;
}

.news-teg {
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
    display: flex;
}

.news-teg-item {
    margin-right: 20px;
}

.news-teg-item:last-child {
    margin-right: 0;
}

.news-teg-item:hover {
    text-decoration: underline;
    text-align: center;
    color: #b59f5b;
}

.news-teg-link {
    text-decoration: none;
    font-family: OpenSans-b, sans-serif;
    text-transform: uppercase;
    color: #b59f5b;
    font-size: 14px;
}

.news-name {
    font-family: OpenSans-b, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 30px;
}

.news-link:hover {
    color: #b59f5b;
}

.date {
    color: #888888;
    font-size: 12px;
    margin-right: 10px;
}

.author {
    font-family: OpenSans-b, sans-serif;
    color: #000000;
    font-size: 12px;
}

.about {
    margin-top: 43px;
    font-size: 15px;
    line-height: 1.2;
}

.about>p:nth-child(n + 2) {
    margin-top: 20px;
}

.news-text {
    margin-left: 30px;
}

.news,
.new {
    display: flex;
}

.new-name {
    margin-top: 5px;
    margin-bottom: 0;
    font-family: OpenSans-b, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.1;
}



/*ASIDE*/

.aside-item:nth-child(n + 2) {
    margin-top: 60px;
}

.aside {
    width: 270px;
}

.top {
    text-align: center;
    margin-bottom: 0;
    font-family: OpenSans-b, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.1;
}

.top::after {
    content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    width: 66px;
    height: 3px;
    background: #b59f5b;
}

.new-text a {
    text-decoration: none;
    color: #000000;
}

.new-text .date {
    font-size: 12px;
    text-decoration: none;
    color: #000000;
    opacity: 0.54;
    margin-right: 0;
}

.new-text {
    margin-left: 18px;
}

.new-link:hover {
    color: #b59f5b;
}

.new {
    margin-top: 20px;
}

form {
    position: relative;
    width: 270px;
    margin: 0 auto;
}

.form {
    margin-top: 60px;
}

.sector {
    margin-top: 15px;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.search input {
    font-size: 13px;
    line-height: 3;
    font-weight: 400;
    width: 100%;
    height: 48px;
    padding-left: 15px;
    padding-right: 63px;
    border: none;
    outline: none;
    background-color: #f4f7f6;
    color: #000000;
    box-sizing: border-box;
}

.search input:hover {
    background-color: #f4f7f6;
    border: 1px solid #b59f5b;
}

.search button {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    border: none;
    cursor: pointer;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-size: 16px;
    background-color: #b59f5b;
    background-position: center;
}


.search button:hover {
    background-color: #323232;
    background-size: 16px;
}

.mailing-form input {
    font-size: 13px;
    line-height: 3;
    font-weight: 400;
    font-family: "OpenSans-r", serif;
    width: 100%;
    height: 48px;

    padding-left: 17px;
    padding-right: 15px;
    border: none;
    outline: none;
    background-color: #f4f7f6;
    color: #000000;
    box-sizing: border-box;
}

.mailing-form input:hover {
    background-color: #f4f7f6;
    border: 1px solid #b59f5b;
}

.mailing-form button {
    margin-top: 25px;
    top: 135px;
    right: 0;
    width: 100%;
    height: 48px;
    border: none;
    cursor: pointer;

    background: #b59f5b no-repeat center;

    font-weight: 700;
    font-family: "OpenSans-b", serif;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
}

.mailing-form button:hover {
    background-color: #323232;
}

.list-tegs {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.list-tegs-link {
    display: block;
    box-sizing: border-box;
    align-items: center;
    align-content: space-between;
    text-decoration: none;
    font-family: OpenSans-b, sans-serif;
    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 12px;
    border: 3px solid #f4f3f1;
    padding: 7px 11px;
}

.list-tegs-link:hover {
    border: 3px solid #b59f5b;
}

.list-tegs-item {
    margin-top: 26px;
    margin-right: 3px;
}

.list-theme {
    list-style: none;
}

.list-theme-link {
    align-items: center;
    align-content: space-between;
    text-decoration: none;
    font-family: OpenSans-b, sans-serif;
    color: #000000;
    font-size: 14px;
    padding: 0 5px 0 0;
}

.list-theme-link:hover {
    color: #b59f5b;
}

.list-theme-item {
    padding-bottom: 14px;
    margin-top: 14px;
    border-bottom: 1px solid #f4f3f1;
}

.list-theme-count {
    display: inline-block;
    vertical-align: top;
    color: #b59f5b;
    font-family: OpenSans-b, sans-serif;
    font-size: 12px;
}

/*FOOTER*/

.footer {
    margin-top: 60px;
}

.footer-address {
    margin-bottom: 73px;
    background-color: #f4f7f6;
    padding: 30px 0;
}

.footer-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer-wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px 40px 15px;
}

.social-icon {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    margin: 0 15px;
}

.social:last-child {
    margin-right: 0;
}

.social-icon_dribbble {
    background-image: url("../svg/001-dribbble.svg");
}

.social-icon_pinterest {
    background-image: url("../svg/002-pinterest.svg");
}

.social-icon_tumblr {
    background-image: url("../svg/003-tumblr.svg");
}

.copyright {
    text-decoration: none;
    color: #999999;
    font-family: OpenSans-b, sans-serif;
    font-size: 12px;
    text-align: center;
}

/*POPUP*/

.popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.popup__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}

.popup__content {
    position: relative;
    width: 390px;
    background: #fff;
    padding: 50px 30px;
    margin-top: 30px;
}

.popup__title {
    text-align: center;
    margin-bottom: 35px;
    font-family: OpenSans-b, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
}


.popup__title::after {
    display: flex;
    align-items: center;
    content: "";
    margin: 12px auto;
    height: 3px;
    width: 66px;
    background-color: #b59f5b;
    opacity: 0.4;
}

.title:hover {
    color: #b59f5b;
}

.form__item {
    margin: 30px 0 0 0;
}

.form__item__option {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #000;
}

.form__item__select {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 38px;
    margin: 12px;
    padding-left: 10px;
    padding-right: 25px;

    background-color: #f4f7f6;

    font-size: 13px;
    font-family: OpenSans-r;
    color: #000;
    appearance: none;
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 13px;
    border: none;
}

.form__item__select:focus {
    outline: 1px solid #b59f5b;

}

.form__radio__wrap {
    display: flex;
    margin: 10px 0 0 0;
}

.form__item__radio {
    display: flex;
    margin: 0 0 0 17px;
}

.form__item__radio:first-child {
    margin: 0;
}

.radio__label {
    display: flex;
    align-items: center;
}

.item__radio {
    display: none;
}

.form__radio__text {
    font-size: 14px;
    color: #000;

}

.form__radio__text::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    margin-right: 5px;
}

.item__radio:checked~.form__radio__text::before {
    background-image: url(../svg/form-circle.svg);
}

.textarea__label {
    display: flex;
    flex-direction: column;
}

.your__message {
    resize: none;
    height: 130px;
    background-color: #f4f7f6;
    padding: 20px 14px;
    border: none;
    margin: 10px 0 0 0;
}

.your__message:focus {
    outline: 1px solid #b59f5b;

}

.form__button {
    margin: 30px 0 0 0;
}

.form__send__btn {
    margin-top: 25px;
    top: 135px;
    right: 0;
    width: 100%;
    height: 48px;
    border: none;
    cursor: pointer;

    background: #b59f5b no-repeat center;


    font-family: "OpenSans-b";
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
}

.form__send__btn:hover {
    background-color: #323232;
}

/*SHOP*/


.page__shop {

    margin: auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
}

.shop__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    margin: auto;
}

.shop__item__wrap {
    position: relative;
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

.shop__item {
    position: relative;
    display: flex;
    align-items: stretch;
    flex-direction: column;

}

.image__shop {

    display: inline-block;
    z-index: -1;
    position: relative;
    padding-left: 10px;

}

.shop__frame {
    position: relative;
    margin-top: -33px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 340px;
    border: 2px solid #b59f5b;
    align-items: flex-end;
    padding: 10px;
    z-index: 3;
}

.shop__title {
    margin: 35px 0 0 0;
    font-family: "OpenSans-b", serif;
    text-transform: uppercase;
    font-size: 20px;
}

.depiction {
    font-family: "OpenSans-r", serif;
    font-size: 15px;
}

.shop__link {
    text-decoration: none;
    color: #b59f5b;
    z-index: 3;
    position: relative;
}

.shop__link:hover {
    text-decoration: underline;
    z-index: 3;
    position: relative;
}

.price__card {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.old__price {
    font-family: "OpenSans-r", serif;
    text-transform: uppercase;
    text-decoration: line-through;
    font-size: 14px;
    margin: 0;
}

.old__price:after {
    content: "\20BD";
}

.new__price {
    font-family: "OpenSans-b", serif;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0 0 0 0;
}

.new__price:after {
    content: "\20BD";
}

.price__button {
    background-color: #b59f5b;
    border: none;
    font-family: "OpenSans-b", serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    padding: 15px 25px;
    z-index: 2;

}

.price__button:hover {
    background-color: #000000;

}




@media (min-width: 641px) and (max-width: 1200px) and (orientation: portrait) {
    .header {
        min-width: 641px;
        max-width: 1200px;
        background-image: url("../images/banner-bg-tablet.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-color: #000000;
        position: relative;
        z-index: 0;
    }

    .header::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000000;
        opacity: 0.6;
        z-index: -1;
    }

    .header__title {
        font-size: 40px;
    }

    .header__logo {
        width: 135px;
        margin-top: 46px;
        margin-left: 38px;
    }

    .header-menu {
        display: none;
    }



    .header__logo__menu__burger {
        display: block;
    }

    .trend {
        width: calc((100% / 2) - 12px);
        height: 250px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        position: relative;
        flex-grow: 1;

    }

    .page-wrapper {
        max-width: 1220px;
        margin: auto;
        padding: 0 15px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }


    .aside {
        width: 40%;
    }

    .news {
        display: flex;
        width: 100%;
        margin-bottom: 50px;

    }



    .shop__items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .shop__item__wrap {
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .shop__frame {
        position: relative;
        margin-top: -33px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: center;
    }



    .footer-wrapper {
        max-width: 100%;
        margin: auto;
        padding: 0 15px 40px 15px;
    }

}

@media(max-width: 640px) and (orientation: portrait) {
    .header {
        padding-top: 30px;
        padding-bottom: 150px;
        background-image: url("../images/banner-mobile.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-color: #000000;
        position: relative;
        z-index: 0;
    }

    .header::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000000;
        opacity: 0.6;
        z-index: -1;
    }

    .header__title {
        font-size: 26px;
    }

    .header__logo {
        width: 270px;
        margin-top: 25px;
        margin-left: 35px;
    }

    .header-menu {
        display: none;
    }

    .header__logo__menu__burger {
        display: block;
    }

    .trend {
        width: 640px;
        height: 230px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        position: relative;
        flex-grow: 1;

    }

    .page-wrapper {
        max-width: 640px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .main {
        justify-content: center;
        width: 100%;
        margin-bottom: 60px;
    }

    .news {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 50px;

    }

    .news-img {
        width: 100%;
    }

    .shop__items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%
    }

    .shop__item__wrap {
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .shop__frame {
        position: relative;
        margin-top: -33px;

        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
    }



    .footer-wrapper {
        width: 100%;
        margin: auto;
        padding: 0 15px 40px 15px;
    }
}